%section.module.bg-gray
  .container-fluid.container-custom
    / MODULE TITLE
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Other UX Projects
  / /MODULE TITLE
  .container-fluid
    / WORKS GRID
    .works-grid-wrapper
      #works-grid.works-grid.works-grid-gutter.work-grid-3{:style => "position: relative; height: 284px;"}
        / PORTFOLIO ITEM
        %article.work-item.travel.video{:style => "position: absolute; left: 0px; top: 0px;"}
          .work-wrapper
            .work-thumbnail
              %img{:alt => "", :src => "img/portfolio-7.jpg"}
            .work-caption
              %h3.work-title.font-alt Home Delights - UX Concept
              %span.work-category.font-serif
                %a{:href => "homedelight"} Experience the user flow
            %a.work-link{:href => "homedelight"}
        / /PORTFOLIO ITEM
        / PORTFOLIO ITEM
        %article.work-item.music{:style => "position: absolute; left: 373px; top: 0px;"}
          .work-wrapper
            .work-thumbnail
              %img{:alt => "", :src => "img/portfolio-2.jpg"}
            .work-caption
              %h3.work-title.font-alt Pink Lips
              %span.work-category.font-serif
                %a{:href => "http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single.html#"} Music
            %a.work-link{:href => "http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single-1.html"}
        / /PORTFOLIO ITEM
        / PORTFOLIO ITEM
        %article.work-item.travel{:style => "position: absolute; left: 746px; top: 0px;"}
          .work-wrapper
            .work-thumbnail
              %img{:alt => "", :src => "img/portfolio-6.jpg"}
            .work-caption
              %h3.work-title.font-alt The Handkerchief
              %span.work-category.font-serif
                %a{:href => "http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single.html#"} Travel
            %a.work-link{:href => "http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single-1.html"}
              / /PORTFOLIO ITEM
              / /WORKS GRID