%section#hero.module-hero.bg-dark-30{"data-background" => "img/hibari/hibari-hero.jpg", :style => "height: 500px"}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Addme In
      %p.hero-subtitle.font-serif Simply the easiest way to add yourself to a photo