%section.module
  .container-fluid.container-custom
    .row
      .col-sm-8.col-sm-offset-2
        / PORTFOLIO CONTENT
        %article.portfolio-post.post
          %h4 Motivation
          %blockquote
            Discover hidden gems while planning your trip
          %h4 Lean UX - Designing with user stories
          To use the concept of UX debt as part of Lean UX methodology, we wrote stories
          to capture a gap analysis between where the experience is today and where our users would like it to be.
          %p
          We subsequently added these stories to product backlog and advocated for them on product development to
          focus on 1) activity recommendation and 2) claims management based on prioritizing our user's needs.
          %p
            %blockquote
              %img{:alt => "", :src => "img/hibari/story1.png", :style => "width: 700px"}
              %img{:alt => "", :src => "img/hibari/story2.png", :style => "width: 700px"}
            %h4 Key Features
            \- Hibari goes beyond the regular trip-planning app by surprising you with places
            to visit along your daily commute routes
            %br
            \- User plans their trip by inputting origin and destination:
            %br
            \- Hibari gets fastest commute route via Google API
            %br
            \- Suggests interesting places of interests along the travel route e.g. food places during lunch times
            %br
            \- SMS Reminders to leave for trip, ask for receipts from cab rides for claims management
            %p
              %h4 Live Demo
              %iframe{:height => "950", :scrolling => "no", :src => "iframe/hibari/timeline.html", :style => "width: 1px; min-width: 100%; *width: 100%;", :width => "100%"}
        / /Photos
        %h4 Accenture Hackathon 2015 (Grand Prize Winner)
        .tags.font-serif
          %img{:alt => "", :src => "img/hibari/photo1.png", :style => "width: 700px; margin-bottom:5px;"}
          %img{:alt => "", :src => "img/hibari/photo2.png", :style => "width: 700px"}
        %p
        / TECHNOLOGIES
        %h4 Technologies Used
        .tags.font-serif
          %a HTML5/CSS3
          %a Google Now API
          %a Twilio API