%section.module-hero.bg-dark-30.hidden-md.hidden-lg.hidden-xl{"data-background" => "img/hibari/hibari-hero2.jpg", :style => "height: 500px"}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Hibari
      %p.hero-subtitle.font-serif Accenture Hackathon 2015 (Grand Prize Winner)
%section#hero.module-hero.bg-dark-30.hidden-xs{"data-background" => "img/hibari/hibari-hero.jpg", :style => "height: 500px; "}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Hibari
      %p.hero-subtitle.font-serif Accenture Hackathon 2015 (Grand Prize Winner)