<!-- SIDEBAR -->
<%= render 'layouts/components/sidebar' %>
<!-- /SIDEBAR -->

<!-- WRAPPER -->
<div class="wrapper">

  <!-- HERO -->
  <section id="hero" class="module-hero bg-dark-30" data-background="img/hibari/hibari-hero.jpg" style="height: 500px">

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <h1 class="hero-title font-alt">Hibari</h1>
        <p class="hero-subtitle font-serif">Accenture Hackathon 2015 (Grand Prize Winner)</p>
      </div>
    </div>
    <!-- /HERO TEXT -->

  </section>
  <!-- /HERO -->

  <!-- PORTFOLIO SINGLE -->
  <section class="module">
    <div class="container-fluid container-custom">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <!-- PORTFOLIO CONTENT -->
          <article class="portfolio-post post">
            <h4>Motivation</h4>
            <blockquote>
              Discover hidden gems while planning your trip
            </blockquote>

            <h4>Lean UX - Designing with user stories</h4>
            To use the concept of UX debt as part of Lean UX methodology, we wrote stories
            to capture a gap analysis between where the experience is today and where our users would like it to be.
            <p></p>
            We subsequently added these stories to product backlog and advocated for them on product development to
            focus on 1) activity recommendation and 2) claims management based on prioritizing our user's needs.
            <p>

            <blockquote>
              <img src="img/hibari/story1.png" style="width: 700px" alt="">
              <img src="img/hibari/story2.png" style="width: 700px" alt="">
            </blockquote>


            <!--<div class="owl-carousel slider owl-theme" style="opacity: 1; display: block;">-->
            <!--&lt;!&ndash; Carousell Images &ndash;&gt;-->
            <!--<div class="owl-wrapper-outer autoHeight" style="height: 523px;">-->
            <!--<div class="owl-wrapper" style="width: 3488px; left: 0px; display: block; transition: all 5000ms ease; animation: infinite; transform: translate3d(-872px, 0px, 0px);">-->
            <!--<div class="owl-item" style="width: 472px;">-->
            <!--<div class="item">-->
            <!--<img src="img/hibari/story2.png" style="width: 800px" alt="">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="owl-item" style="width: 472px;">-->
            <!--<div class="item">-->
            <!--<img src="img/hibari/story1.png" style="width: 800px" alt="">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <h4>Key Features</h4>
            After coming up with user stories, we came up with the following feature list and product roadmap for Hibari :
            <p></p>
            - Hibari goes beyond the regular trip-planning app by surprising you with places
            to visit along your daily commute routes
            </br>
            - User plans their trip by inputting origin and destination:
            </br>
            - Hibari gets fastest commute route via Google API
            </br>
            - Suggests interesting places of interests along the travel route e.g. food places during lunch times
            </br>
            - SMS Reminders to leave for trip, ask for receipts from cab rides for claims management
            <p>

            <h4>Live Demo</h4>
            <iframe height="950" width="100%" scrolling="no" src="iframe/hibari/timeline.html"style="
                width: 1px;
                min-width: 100%;
                *width: 100%;
                ">
            </iframe>



          </article>
          <!-- /PORTFOLIO CONTENT -->

          <!-- TECHNOLOGIES -->
          <h4>Technologies Used</h4>
          <div class="tags font-serif">
            <a>HTML5/CSS3</a>
            <a>Google Now API</a>
            <a>Twilio API</a>
          </div>
          <!-- /TECHNOLOGIES -->

        </div><!-- .col-* -->

      </div>

    </div>
  </section>
  <!-- PORTFOLIO SINGLE -->

  <!-- RELATED WORKS -->
  <section class="module bg-gray">

    <div class="container-fluid container-custom">

      <!-- MODULE TITLE -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Other Projects</h2>
        </div>
      </div>
      <!-- /MODULE TITLE -->

    </div>

    <div class="container-fluid">

      <!-- WORKS GRID -->
      <div class="works-grid-wrapper">

        <div id="works-grid" class="works-grid works-grid-gutter work-grid-3" style="position: relative; height: 284px;">

          <!-- PORTFOLIO ITEM -->
          <article class="work-item travel video" style="position: absolute; left: 0px; top: 0px;">
            <div class="work-wrapper">
              <div class="work-thumbnail">
                <img src="img/portfolio-1.jpg" alt="">
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Montures</h3>
                <span class="work-category font-serif"><a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single.html#">Travel, Video</a></span>
              </div>
              <a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item music" style="position: absolute; left: 373px; top: 0px;">
            <div class="work-wrapper">
              <div class="work-thumbnail">
                <img src="img/portfolio-2.jpg" alt="">
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Pink Lips</h3>
                <span class="work-category font-serif"><a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single.html#">Music</a></span>
              </div>
              <a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item travel" style="position: absolute; left: 746px; top: 0px;">
            <div class="work-wrapper">
              <div class="work-thumbnail">
                <img src="img/portfolio-6.jpg" alt="">
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">The Handkerchief</h3>
                <span class="work-category font-serif"><a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single.html#">Travel</a></span>
              </div>
              <a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- /PORTFOLIO ITEM -->

        </div>
      </div>
      <!-- /WORKS GRID -->

    </div>

  </section>
  <!-- /RELATED WORKS -->

</div>