/ SIDEBAR
= render 'layouts/components/sidebar'
/ /SIDEBAR
/ WRAPPER
.wrapper
  / HERO HEADER
  = render 'layouts/portfolio/mirawoong/hero'
  / PORTFOLIO INFO
  = render 'layouts/portfolio/mirawoong/portfolio'
  / /PORTFOLIO INFO
  / RELATED PROJECTS
  = render 'layouts/portfolio/mirawoong/featured'