/ SIDEBAR
= render 'layouts/components/sidebar'
/ /SIDEBAR
/ WRAPPER
.wrapper
  / HERO HEADER
  = render 'layouts/portfolio/shopee/hero'
  / PORTFOLIO INFO
  = render 'layouts/portfolio/shopee/portfolio'
  / /PORTFOLIO INFO
  / RELATED PROJECTS
  = render 'layouts/portfolio/shopee/featured'