%section.module-hero.bg-dark-30.hidden-md.hidden-lg.hidden-xl{"data-background" => "img/mirawoong/mirawoong-hero.jpg", :style => "height: 500px"}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Mirawoong
      %p.hero-subtitle.font-serif An Unsolicited App Redesign
%section#hero.module-hero.bg-dark-30.hidden-xs{"data-background" => "img/mirawoong/mirawoong-hero.jpg", :style => "height: 500px; "}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Mirawoong
      %p.hero-subtitle.font-serif An Unsolicited App Redesign