%section.module.bg-gray
  .container-fluid.container-custom
    / MODULE TITLE
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Other UX Projects
  / /MODULE TITLE
  .container-fluid
    / WORKS GRID
    .works-grid-wrapper
      #works-grid.works-grid.works-grid-gutter.work-grid-3{:style => "position: relative; height: 284px;"}
        / PORTFOLIO ITEM
        %article.work-item.travel.video{:style => "position: absolute; left: 0px; top: 0px;"}
          .work-wrapper
            .work-thumbnail
              %img{:alt => "", :src => "img/portfolio-4.jpg", :style => "max-height: 268px;"}
            .work-caption
              %h3.work-title.font-alt Hibari
              %span.work-category.font-serif
                %a{:href => "hibari"} Experience the user flow
            %a.work-link{:href => "hibari", 'data-no-turbolink' => "true"}
        / /PORTFOLIO ITEM
        / PORTFOLIO ITEM
        %article.work-item.travel{:style => "position: absolute; left: 746px; top: 0px;"}
          .work-wrapper
            .work-thumbnail
              %img{:alt => "", :src => "img/portfolio-2.jpg"}
            .work-caption
              %h3.work-title.font-alt Galvanize Café Mobile
              %span.work-category.font-serif
                %a{:href => "https://www.youtube.com/watch?v=k5cNTsSGp5g"} Watch the video
            %a.work-link{:href => "https://www.youtube.com/watch?v=k5cNTsSGp5g"}
        / /PORTFOLIO ITEM
        / /WORKS GRID
        / PORTFOLIO ITEM
        %article.work-item.music{:style => "position: absolute; left: 373px; top: 0px;"}
          .work-wrapper
            .work-thumbnail
              %img{:alt => "", :src => "img/mirawoong/overview.png", :style => "min-height: 268px;"}
            .work-caption
              %h3.work-title.font-alt Mirawoong
              %span.work-category.font-serif
                %a{:href => "mirawoong"} Redefining the user experience
            %a.work-link{:href => "mirawoong", 'data-no-turbolink' => "true"}
              / /PORTFOLIO ITEM