%section.module-hero.bg-dark-30.hidden-md.hidden-lg.hidden-xl{"data-background" => "img/homedelights/homedelights-hero2.jpg", :style => "height: 500px"}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Home Delights
      %p.hero-subtitle.font-serif UX Design / UI Prototyping with Pixate
%section#hero.module-hero.bg-dark-30.hidden-xs{"data-background" => "img/homedelights/homedelights-hero.jpg", :style => "height: 500px; "}
  / HERO TEXT
  .hero-caption
    .hero-text
      %h1.hero-title.font-alt Home Delights
      %p.hero-subtitle.font-serif UX Design / UI Prototyping with Pixate