%section.module
  .container-fluid.container-custom
    .row
      .col-sm-8.col-sm-offset-2
        / PORTFOLIO CONTENT
        %article.portfolio-post.post
          %h4 Motivation
          %blockquote
            Making cooking healthy meals, a hassle free and enjoyable experience
          %h4 Pain Point / Solution
          As busy working adults, cooking healthy meals becomes a hassle even if you geniunely
          love to cook because grocery shopping for the right ingredients and preparing them
          takes up too much time.
          %p
          We take the hassle out of planning, measuring, shopping and delivering ingredients straight
          to your door step, leaving the fun parts of the cooking experience to our customers.
          Home Delights delivers step by step video instructions through the mobile app to allow
          our users to easily prepare delicious meals suggested by YouTube celebrity chefs in just 30 minutes.
          %p
            %h4 Conceptualization and Competitive Positioning
            %blockquote
              %img{:alt => "", :src => "img/homedelights/slideshow1.png", :style => "width: 700px"}
              %img{:alt => "", :src => "img/homedelights/slideshow2.png", :style => "width: 700px"}
              %img{:alt => "", :src => "img/homedelights/slideshow3.png", :style => "width: 700px"}
            %h4 Lean UX Design (Low-Fidelity to Hi-Fidelity for Rapid Prototyping)
            One of the most effective ways to create MVP’s is by prototyping the experience.
            A prototype is an approximation of an experience that allows you to simulate what it
            is like to use the product or service in question.
            %p
            It needs to be clickable and high fidelity. At the same time, your goal should be to
            expend as little effort as possible in order to create the prototype, which makes your
            choice of prototyping tool important. Which is why we chose Pixate as a platform.
            %p
            After envisioning the user experience on keynote, we proceed to prototype it out on Pixate,
            and rapidly validated this with our early adopters. We also gather feedback to continue re-iterating
            the product as part of our market validation.
            %p
            %h4 Designing User Experience on Apple Keynote
            %img{:alt => "", :src => "img/homedelights/ux.jpg", :style => "width: 700px"}
            %p
            %h4 High-Fidelity Wireframes with Adobe Creative Suite
            Through leveaging on design tools such as Adobe Creative Suite, we were able to quickly prototype
            the user experience with native iOS UI libraries and bring it one step forward with Pixate for usability
            testing.
            %p
            %img{:alt => "", :src => "img/homedelights/hifidelity-wireframe.jpg", :style => "width: 700px"}
            %h4 Prototyping and Testing via Pixate Studio / Pixate's iPhone App
            Pixate Studio also gives us the agility to make rapid changes on the fly without commiting heavy
            engineering resource to code base changes while still retaining true native experience on mobile.
            %p
            %img{:alt => "", :src => "img/homedelights/emulator1.png", :style => "width: 230px"}
            %img{:alt => "", :src => "img/homedelights/emulator2.png", :style => "width: 230px"}
            %img{:alt => "", :src => "img/homedelights/emulator3.png", :style => "width: 230px"}
            %p
            %h4 Key Learning
            With Pixate Studio, we were able to rapidly make changes to our UI and UX to respond to
            the needs of our customers and go-to-market faster even without worrying about heavy
            cost of hiring engineers as part of our product validation efforts.
            %p
            This not only helps us save cost in terms of engineering but also accelerate the whole build-measure-learn
            process that allows us to pivot quickly by cutting down engineering waste.
        / TECHNOLOGIES
        %h4 Technologies Used
        .tags.font-serif
          %a Pixate
          %a Adobe Creative Suite