<section class="module" id="contact" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="container-fluid container-custom">

    <!-- MODULE TITLE -->
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h4 class="module-title" style="font-size: 40px;">Interested to collaborate?</h4>
        <p class="module-subtitle" style="margin-bottom: 40px;">
          Simply drop me a message below
          and I will get in touch with you shortly!</p>
      </div>
    </div>
    <!-- /MODULE TITLE -->

    <div class="row">
      <div class="col-sm-12">
        <form id="contact-form" role="form" novalidate="">
          <div class="form-group">
            <label class="sr-only">Name</label>
            <input type="text" id="name" class="form-control" name="cname" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label class="sr-only" >Your Email</label>
            <input type="email" id="email" name="cemail" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message" name="cmessage" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-block btn-round btn-dark">Submit</button>
          </div>
        </form>

      </div><!-- .col-* -->
    </div>
  </div>
</section>