%section#hero.module-hero.bg-dark-30.js-fullheight{"data-background" => "img/splash.jpg", :style => "background-image('../img/splash.jpg'; -webkit-filter: brightness(100%);"}
  / HERO TEXT
  .hero-caption.hidden-xs{:style => "margin-left: 50px;"}
    .hero-text{:style => "-webkit-box-align:center; -webkit-box-pack:center;"}
      %h6.m-b-30 Flre Studios
      %h1.m-b-30 Stewart Huang
      %h6.m-b-60 Experience Designer | UI Architect
      %a.btn.btn-danger.anim-scroll{:href => "portfolio/CV.pdf", :style => "margin-top: 10px", :target => "_blank"} View Resume
      %a.btn.btn-primary.anim-scroll{:href => "https://linkedin.com/in/stewartSG", :style => "margin-top: 10px;"} Let's Connect
      %a.fa.fa-angle-down.anim-scroll{:href => "#portfolio", :style => "margin-top: 10px;color: white;font-size: 30px;display: block;bottom: 0;position: absolute;width: 100%;padding-bottom: 20px;"}
  .hero-caption.hidden-sm.hidden-md.hidden-lg.hidden-xl
    .hero-text{:style => "-webkit-box-align:center; -webkit-box-pack:center;"}
      %h6.m-b-30 Flre Studios
      %h1.m-b-30 Stewart Huang
      %h6.m-b-60 Experience Designer | UI Architect
      %a.btn.btn-danger.anim-scroll{:href => "portfolio/CV.pdf", :style => "margin-top: 10px"} View Resume
      %a.btn.btn-primary.anim-scroll{:href => "https://linkedin.com/in/stewartSG", :style => "margin-top: 10px;"} Let's Connect
      %a.fa.fa-angle-down.anim-scroll{:href => "#portfolio", :style => "margin-top: 10px;color: white;font-size: 30px;display: block;bottom: 0;position: absolute;width: 100%;padding-bottom: 30px;"}
      / /HERO TEXT
      / /Splash SECTION