/ BOOTSTRAP SIDEBAR
.sidebar
  %nav.navbar.navbar-custom.font-alt
    .navbar-header
      %button.navbar-toggle{"data-target" => "#custom-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / YOU LOGO HERE
      %a.navbar-brand{:href => "home", :style => "padding:0 !important;", 'data-no-turbolink' => true}
        / IMAGE OR SIMPLE TEXT
        %img.light-logo{:src => "img/logo-light.png", :style => "margin-left:10px;", :width => "170px"}
    #custom-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "home", 'data-no-turbolink' => true} Home
        -#%li
        -#  %a{:href => "http://bolditalic-studios.ghost.io/", :target => "_blank"} Tech Blog
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#portfolio"} Live Projects
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "http://galvanize.space"} Galvanize Café
            %li
              %a{:href => "https://wine-xpress.com"} WineXpress Wine Store
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#portfolio"} Mobile UX Design
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "hibari", 'data-no-turbolink' => true} Hibari
            %li
              %a{:href => "homedelights", 'data-no-turbolink' => true} Home Delights
            %li
              %a{:href => "mirawoong", 'data-no-turbolink' => true} Mirawoong
            -#%li
            -#  %a{:href => "shopee", 'data-no-turbolink' => true} Shopee
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#portfolio"} Case Analysis Decks
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "https://goo.gl/7Jqn5M", :target => "_blank"} Mobileye - Future of Driverless Cars
            %li
              %a{:href => "https://goo.gl/TBGJK6", :target => "_blank"} Telus Canada - The Internet of Things
        %li
          %a{:href => "home#contact"} Contact
  / SOCIAL LINKS
  .copyright
    .social-icons.m-b-20
      %a.fa.fa-github{:href => "https://github.com/stewartSG", :style => "font-size: 20px;", :target => "_blank"}
      %a.fa.fa-linkedin{:href => "http://linkedin.com/in/stewartSG", :style => "font-size: 20px;", :target => "_blank"}
    %p Stewart Huang | Bolditalic Studios
  / /SOCIAL LINKS
/ /SIDEBAR